$font-weight-bolder: 800;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-strong: 500;
$font-weight-normal: 400;
$font-weight-light: 300;

$primary: #29c70a;
$secondary: #209714;
$tertiary: #1f201c;

$brand-primary-color: $primary;
$brand-secondary-color: $secondary;
$brand-tertiary-color: $tertiary;

$branded-bg-text-main-color: #f9f8f3;
$branded-bg-text-secondary-color: #b23e26;
$branded-bg-text-tertiary-color: #a39781;

$bg-lighter-color: #f8f8f5;
$bg-light-color: #eae9e2;

$text-lighter-color: #f1eae2;
$text-light-color: #a29f9a;

$st-trans: 225ms;
$grid-gutter-width: 5px;
