.form-content {
  border-radius: 3px;
  border: 1px solid $bg-light-color;
  padding: 10px 15px;
  box-shadow: 2px 2px 5px lightgray;
}
input {
  padding: 3px 5px;
  margin-bottom: 3px;
  border-radius: 3px;
  border: 1px solid $bg-light-color;
  height: 20px;
}
.tool-label {
  margin-bottom: 18px;
}

.form-group {
  &:last-of-type {
    margin-bottom: 24px;
  }

  label {
    line-height: 1;
    margin-bottom: 4px;
    margin-right: 7px;
  }
}

.form-control {
  border-radius: 6px;
  border-color: $text-light-color;
}
